h1 {
    color: blueviolet;
    font-size: 34;
}
p {
    color: darkgoldenrod;
    font-size: 34;
}
h2 {
    color: darkorchid;
    font-size: 34;
}
li{
    color: darkslateblue;
    font-size: 34;
}
h3{
    color: darkorchid;
    font-size: 34;
}