h1 {
    color: crimson;
    font-size: 34;
}
p {
    color: cadetblue;
    font-size: 34;
}
h2 {
    color: crimson;
    font-size: 34;
}
li{
    color: darkslateblue;
    font-size: 34;
}
h4{
    color: darkred;
    font-size: 34;
}
h3{
    color: crimson;
}